* {
  margin: 0;
  padding: 0;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Amita';
  src: url('../fonts/Amita/Amita-Bold.ttf') format('TrueType');
}
@font-face {
  font-family: 'ArialHBS';
  src: url('../fonts/ArialHB.ttc') format('TrueType');
}
@font-face {
  font-family: 'Rancho';
  src: url('../fonts/Rancho/Rancho-Regular.ttf') format('truetype');
}

body::before {
  content: '';
  background-image: url('../img/background-leaves-top.png');
  background-position: top 0 left -15%;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1000;
}

body::after {
  content: '';
  background-image: url('../img/background-leaves-bottom.png');
  background-position: bottom 0 right -15%;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 0; */
  right: 0;
  bottom: 0;
  /* left: 0; */
  z-index: -1000;
}
/* .bottom-background-img {
  content: '';
  background-image: url('../img/background-leaves-bottom.png');
  background-position: top 0 right -15%;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 50%;
  height: 10%;
  position: absolute;
  top: 0px;
  right: -10%;
  bottom: -10%;
  left: 0;
  z-index: -1000;
} */
body {
  background-color: #ebecea !important;
  font-family: 'ArialHBS' !important;
}
.Logo {
  font-family: 'Amita' !important;
  -webkit-text-stroke: 1px #ebecea !important;
}
.NavFont {
  font-family: 'ArialHBS' !important;
  /* font-weight: bold !important; */
}
.float-left {
  float: left !important;
}
.auto-margin {
  margin: 0 auto !important;
}
.page-title {
  font-family: 'Rancho' !important;
  text-align: center !important;
  margin: 20px 0 !important;
}
.align-content-center {
  display: flex;
  align-items: center;
}
