.App-header {
  background: none !important;
  padding: 5% 0;
  box-shadow: none !important;
}

.Nav-List {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.Nav-item a {
  padding: 0 5px;
  color: #463301 !important;
  text-decoration: none;
  font-weight: bolder;
  -webkit-text-stroke: 0.5px #ebecea !important;
  font-size: 24px !important;
}
.App-header .MuiToolbar-root {
  justify-content: space-between;
}

.MuiDrawer-paper {
  background-color: #f6f6f6 !important;
}
