.code-title {
  font-family: 'ArialHBS' !important;
}
.design-title {
  font-family: 'Rancho' !important;
}
.project-contents {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.project-buttons {
  font-weight: bold !important;
}
